<div class='bg-index'>
  <img id='cloud1' class='absolute' src="images/cloud1.png" alt="cloud">
  <img id='cloud2' class='absolute' src="images/cloud2.png" alt="cloud">
  <img id='cloud3' class='absolute' src="images/cloud3.png" alt="cloud">
  <img id='cloud4' class='absolute' src="images/cloud3.png" alt="cloud">
  <img id='house' class='absolute animated slideInUp' src="images/house.png" alt="house">
  <img id='tree' class='absolute animated slideInUp zoomIn' src="images/tree.png" alt="tree">
</div>

<div class="container">
  <div class="row">

    <div class="card-panel z-depth-1 z-depth-1 col s12 m5 hoverable animated fadeInLeft">
        <h2 class="center-align">LOGIN</h2>
            <div class='error'>
              <%= errorLogin %>
            </div>
            <form class="col s12" action="/login" method="POST" >
                    <div class="input-field col s12">
                      <i class="material-icons prefix">account_circle</i>
                        <input id="email" type="text" class="validate" name='username' required>
                        <label for="email">Username</label>
                    </div>
                    <div class="input-field col s12">
                      <i class="material-icons prefix">lock</i>
                        <input id="pass" type="password" class="validate" name='password' required>
                        <label for="pass">Password</label>
                    </div>
                    <div class='row'>

                      <div class="col m12">
                        <p class="right-align">
                          <button class="btn btn-large blue waves-effect waves-light" type="submit" name="action">Login</button>
                        </p>
                      </div>
                    </div>
            </form>
        </div>

        <div class="card-panel z-depth-1 z-depth-1 col s12 m5 offset-m2 hoverable animated fadeInRight">
            <h2 class="center-align">SIGNUP</h2>
            <div class='error'>
              <%= errorSignup %>
            </div>
                <form class="col s12" action="/signup" method="POST">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">account_circle</i>
                            <input id="name" type="text" class="validate" name='username' required >
                            <label for="name">Username</label>
                        </div>
                        <div class="input-field col s12">
                          <i class="material-icons prefix">lock</i>
                            <input id="password" type="password" class="validate" name='password' required>
                            <label for="password">Password</label>
                        </div>
                        <div class='row'>

                          <div class="col m12">
                            <p class="right-align">
                              <button class="btn btn-large blue waves-effect waves-light" type="submit" name="action">Signup</button>
                            </p>
                          </div>
                        </div>
                </form>
            </div>

  </div>
